.popup__input {
  margin-top: 30px;
  padding: 0;
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
